<div>
    <div mdcHeadline3>What is STEVE?</div>
    <p>
        STEVE, or the The interstellar agency of Sightseeing and Travel in the EVE Universe,
        is a fictional agency in the EVE Online universe with the goal to let people experience the beauty, culture and history of the EVE
        Universe.</p>

    <div mdcHeadline3>What is this website?</div>
    <p>
        The STEVE website is an experiment by <a href="https://github.com/ionaru">Ionaru</a> to try and build a frontend-only Angular
        application with ESI interaction.</p>

    <div mdcHeadline3>How does it work?</div>
    <p>
        Most of the website is build as a standard Angular application,
        but with an authentication system using the "<a
        href="https://docs.esi.evetech.net/docs/sso/native_sso_flow.html#overview-of-oauth-20-flow-for-native-applications">OAuth 2.0 flow
        for native applications</a>". By using the browser's sessionStorage we can navigate away from the website and come back to
        authenticate the user without the need for a backend.
        The full code is available on <a href="https://github.com/ionaru/steve">GitHub</a>.
    </p>
</div>
