$mdc-theme-primary: #1565c0;
$mdc-theme-secondary: #388e3c;

@import "~normalize.css/normalize.css";
@import "~@angular-mdc/theme/material";

.mdc-button .mdc-button__icon {
    height: 20px;
}

.demo-drawer-app-content {
    overflow: hidden;
    position: relative;
    //noinspection SassScssUnresolvedVariable
    padding-top: $mdc-top-app-bar-dense-row-height;
}
